.container{
    background-color: khaki;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 85vh;
    padding: 20px;
    gap: 20px;
    border-radius: 50px;
    overflow-y: auto;
    position: relative;
    background-color: lightgoldenrodyellow;
}

.inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text-input input{
    border-radius: 50px;
    text-align: center;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button-submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-submit button{
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.button-submit button:hover{
    background-color: white;
    color: black;
}


.button-submit .button .search-icon{
    position: absolute; /* Adjust as needed */
    left: 0px;
    opacity: 0;
    transition: left 1s, opacity 0.3s;
}
.button-text {
    transition: opacity 0.3s;
}
.button-submit .button:hover .button-text {
    opacity: 0;
}

.button-submit .button:hover .search-icon {
    opacity: 1;
    left: 70%;
    transform: translateY(-100%);
    transform: translateX(50%);
}

.definitions-container {
    width: 100%;
    
}

.word {
    font-size: 2rem;
    animation: pop-up 0.5s ease-in-out;
}

.definition {
    margin-top: 20px;
    text-align: left;
    font-size: 1.1rem;
    animation: pop-up 1s ease-out
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.pop-up {
    animation: pop-up 1s ease-out;
}


@media (max-width: 767px) {
    .card{
        width: 250px;
        margin-top: 20px;
    }

    .text-input input{
        width: 200px;
    }

    .button-submit button{
        width: 100px;
    }

    .word{
        font-size: 1.5rem;
    }

    .definition{
        margin-top: 15px;
        
    }
    
}